@tailwind base;
@tailwind components;
@tailwind utilities;

.sidebar {
  @apply w-64 bg-yellow-200 shadow flex-col justify-between;
}

.sidebar-route {
  @apply rounded-md flex w-full justify-between cursor-pointer items-center m-3 p-3;
}

.input {
  @apply p-2 border border-indigo-200 focus:outline-none focus:border-indigo-800 rounded-md shadow-sm;
}


/* .sidebar {
position: absolute;
width: 210px;
height: 1090px;
background: #F9F3DF;
box-sizing: border-box;
}

.sidebar-route{
  display: flex;
  cursor: pointer;
  align-items: center;
  margin: 0.75rem;
  padding: 0.75rem;
  background: #FAA54F;
  border: 1px solid #003569;
  box-sizing: border-box;
  border-radius: 11px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  color: black;
}

 */
